@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Tracker</h1>
    <p class="lead">Join and keep track of all your favorite movies.</p>
    <p><a href="@Url.Action("Register","Account")" class="btn btn-primary btn-lg">Join &raquo;</a>
    <a href="@Url.Action("Login","Account")" class="btn btn-default btn-lg">Log in &rsaquo;</a></p>
</div>

